{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:flowtype/recommended",
        "prettier",
        "prettier/flowtype",
        "prettier/react"
    ],
    "plugins": [
        "react",
        "flowtype",
        "jest"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest/globals": true
    },
    "rules": {
        "react/prop-types": [0],
        "react/display-name": [0]
    }
}
